@charset "utf-8";

html{
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: #333;
    padding: 8px 16px;
}
h2{
    padding: 0;
    margin: 0;
    margin: 16px 0 8px 0;
    font-weight: normal;
    color: #666;
}
.bold{
    font-weight: bold;
}

p{
    padding: 0;
    margin: 0;
}

.solar{
    font-size: 24px;
    line-height: 1.25;
}
.jupiter{
    font-size: 22px;
    line-height: 1.28;
}
.saturn{
    font-size: 20px;
    line-height: 1.2;
}
.uranus{
    font-size: 18px;
    line-height: 1.22;
}
.neputune{
    font-size: 16px;
    line-height: 1.25;
}
.venus{
    font-size: 14px;
    line-height: 1.28;
}
.mars{
    font-size: 12px;
    line-height: 1.5;
}
.terra{
    font-size: 14px;
    line-height: 1.43;
}
.luna{
    font-size: 12px;
    line-height: 1.5px;
}
