@charset "utf-8";

body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: #333;
}
p{
    padding: 8px 16px;
}
.bold{
    font-weight: bold;
}

.page_title{
    font-size: 24px;
    line-height: 1.25;
}

.sub_title{
    font-size: 20px;
    line-height: 1.25
}
.category{
    font-size: 16px;
    line-height: 1.375;
}
.sub_label{
    font-size: 14px;
    line-height: 1.43;
}
.paragraph{
    font-size: 14px;
    line-height: 1.43;
}
.sub_body{
    font-size: 12px;
    line-height: 1.5;
}
