@charset "utf-8";
.grey-scale ul{
    padding: 0;
    margin: 0;
}
.grey-scale ul li{
    padding: 16px;
    margin: 0;
    font-size: 16px;
    list-style: none;
}
.black{
    background-color: black;
    color: white;
}
.dark-grey{
    background-color: #333;
    color: white;
}
.mid-grey{
    background-color: #767676;
    color: white;
}
.grey{
    background-color: #999;
}
.light-grey{
    background-color: #CCC;
}
.lighter-grey{
    background-color: #EAEAEA;
}
.lightest-grey{
    background-color: #F3F3F3;
}
.very-lightest-grey{
    background-color: #FAFAFA;
}
.white{
    background-color: white;
}

.granite-gray{
    background-color: #686868;
    color: white;
}
.old-silver{
    background-color: #828282;
    color: white;
}
.spanish-gray{
    background-color: #9C9C9C;
}
.ash-gray{
    background-color: #B6B6B6;
}
.light-gray{
    background-color: #D1D1D1;
}
.isabelline{
    background-color: #EBEBEB;
}
.white-smoke{
    background-color: #F7F7F7;
}

/*outline*/
.out-line ul{
    padding: 0;
    margin: 0;
}
.out-line ul li{
    list-style: none;
    border-radius: 3px;
    box-sizing: border-box;
    height: 44px;
    background-color: white;
    color: #333;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 16px;
    vertical-align: middle;
    padding: 8px;
}
.out-line ul .granite-gray{
    border-color: #686868;
}
.out-line ul .sonic-silver{
    border-color: #767676;
}
.out-line ul .old-silver{
    border-color: #828282;
}
.out-line ul .spanish-gray{
    border-color: #9c9c9c;
}
.out-line ul .spanish-gray{
    border-color: #9c9c9c;
}
.out-line ul .ash-gray{
    border-color: #B6B6B6;
}
.out-line ul .light-gray{
    border-color: #D1D1D1;
}
.out-line ul .Isabelline{
    border-color: #EBEBEB;
}
.out-line ul .white-smoke{
    border-color: #F7F7F7;
}
/* solid divider */
.solid-divider ul{
    padding: 0;
    margin: 0;
}
.solid-divider ul li{
    list-style: none;
    box-sizing: border-box;
    height: 44px;
    background-color: white;
    color: #333;
    border-width: 0 0 1px 0;
    border-style: solid;
    margin-bottom: 16px;
    vertical-align: middle;
    padding: 8px;
}
.solid-divider ul .granite-gray{
    border-color: #686868;
}
.solid-divider ul .sonic-silver{
    border-color: #767676;
}
.solid-divider ul .old-silver{
    border-color: #828282;
}
.solid-divider ul .spanish-gray{
    border-color: #9c9c9c;
}
.solid-divider ul .spanish-gray{
    border-color: #9c9c9c;
}
.solid-divider ul .ash-gray{
    border-color: #B6B6B6;
}
.solid-divider ul .light-gray{
    border-color: #D1D1D1;
}
.solid-divider ul .Isabelline{
    border-color: #EBEBEB;
}
.solid-divider ul .white-smoke{
    border-color: #F7F7F7;
}

/* solid divider */
.dotted-divider ul{
    padding: 0;
    margin: 0;
}
.dotted-divider ul li{
    list-style: none;
    box-sizing: border-box;
    height: 44px;
    background-color: white;
    color: #333;
    border-width: 0 0 1px 0;
    border-style: dotted;
    margin-bottom: 16px;
    vertical-align: middle;
    padding: 8px;
}
.dotted-divider ul .granite-gray{
    border-color: #686868;
}
.dotted-divider ul .sonic-silver{
    border-color: #767676;
}
.dotted-divider ul .old-silver{
    border-color: #828282;
}
.dotted-divider ul .spanish-gray{
    border-color: #9c9c9c;
}
.dotted-divider ul .spanish-gray{
    border-color: #9c9c9c;
}
.dotted-divider ul .ash-gray{
    border-color: #B6B6B6;
}
.dotted-divider ul .light-gray{
    border-color: #D1D1D1;
}
.dotted-divider ul .Isabelline{
    border-color: #EBEBEB;
}
.dotted-divider ul .white-smoke{
    border-color: #F7F7F7;
}
